body {
    background-color: #dddddd;
}

header {
    padding: 0px 150px 0px 150px;
    background-color: white;
    height: 75px;
    border-bottom: 2px solid #cccccc;

}
.name {
  background-color: #4aaaa5;
  color: #ffffff;
  float: left;
  height: 75px;
  padding: 20px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 30px;

}

.nav-btn {
  color: #777777;
  float: right;
  height: 75px;
  padding: 20px; 
  box-sizing: border-box;  
} 
#contact{
    padding-right: 0px;
}
#container{
    margin: 30px 150px 0px 150px;
    background-color: white;
    overflow: auto;
    width: 960px;
}

h1 {
  color: #4aaaa5;
  border-bottom: 2px solid #cccccc;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  font-size: 30px;
}

#portfolio {
  border-left: .5px solid;
  border-right: .5px solid;
  border-right-style: solid;
  border-left-style: solid;
  border margin: 0 0 10px;
  border padding: 0 0 10px;
}

#text {
width: 500px;
float: left;
margin-left: 10px;
letter-spacing: 1px;
}

#profile {
  float: left;
}

footer {
  text-align: center;
  background-color: #666666;
  border-top: solid;
  border-color: #4aaaa5;
  border-top-width: 10px;
  bottom: 1px;
  width: 100%;
  position: absolute;
  
}
#hangman {
  border: 1px solid black;
  float: left; 
}

#rpg {
  border: 1px solid black;
  float: right;
}

#trivia {
  position: absolute;
  border: 1px solid black;
  float: right;
}

#rutgers {
  border: 1px solid black;
  float: right; 
}

#rock {
  border: 1px solid black;
  float: left;

}